drmd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Temporary namespace URN used because no official project domain is assigned yet. -->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:drmd="urn:drmd:schema"  
    xmlns:dcc="https://ptb.de/dcc"
    xmlns:si="https://ptb.de/si"
    xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
    targetNamespace="urn:drmd:schema"  
    elementFormDefault="qualified"

    version="1.0.0">

  <xs:import namespace="https://ptb.de/dcc"
           schemaLocation="dcc.xsd"/>
  <xs:import namespace="https://ptb.de/si"
           schemaLocation="SI_Format.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
           schemaLocation="xmldsig-core-schema.xsd"/>

  <!-- ========================================================= -->
  <!--  Simple Types (global for reuse & validation)             -->
  <!-- ========================================================= -->

  <!-- Semantic version: major.minor.patch -->
  <xs:simpleType name="schemaVersionType">
    <xs:annotation>
      <xs:documentation>
        Specifies the semantic version string (major.minor.patch) of the DRMD schema specification (e.g., "0.3.0").
        Major version updates signify breaking structural transformations requiring parser schema migration paths.
        Minor version updates indicate backward-compatible additions of optional elements or identifier schemes.
        Patch versions address non-structural schema documentation corrections or minor text clarifications.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+\.\d+\.\d+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Title of the DRMD document -->
  <xs:simpleType name="titleOfDocumentType">
    <xs:annotation>
      <xs:documentation>
        A mandatory metrological classification defining the regulatory and quality assurance tier of the document.
        - referenceMaterialCertificate: Identifies a Certified Reference Material (CRM) per ISO 33401:2024. The document MUST contain at least one property value with an associated measurement uncertainty and a metrological traceability statement. Instructs downstream data systems that properties carry certified values suitable for calibration purposes.
        - productInformationSheet: Identifies a Reference Material (RM) per ISO 33401:2024. Property values are valid measurement results but are not required to include measurement uncertainty or metrological traceability. The distinction from a certificate is solely that no value is certified with uncertainty and traceability.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="productInformationSheet"/>
      <xs:enumeration value="referenceMaterialCertificate"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ========================================================= -->
  <!-- Identifier building blocks                                -->
  <!-- ========================================================= -->

  <xs:complexType name="identifierType">
    <xs:annotation>
      <xs:documentation>
        A unified core building block pattern for strong machine identifiers. Pairs a mandatory authority classification
        scheme with a clean tracking string token value. Includes an optional direct URL link for online source verification
        and attributes supporting native XML relational mappings (@id, @refId, @refType).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="scheme" type="dcc:notEmptyStringType">
        <xs:annotation>
          <xs:documentation>
            Defines the specific naming system, database authority, or registry standard being utilized (e.g., 'DOI', 'CAS', 'ROR').
            Instructs parsing systems on how to route lookups and interpret the companion token string.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="value" type="dcc:notEmptyStringType">
        <xs:annotation>
          <xs:documentation>
            The exact alphanumeric identifier string or key code generated by the authority. Must remain clear of
            descriptive textual commentary to preserve indexing usability during search and database lookups.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="link" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional, persistent canonical landing page URI or direct URL (preferably secure HTTPS)
            enabling software consumers to immediately execute real-time origin lookup validation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    <xs:attribute name="refType" type="drmd:refTypesType" use="optional"/>
  </xs:complexType>

  <xs:complexType name="organizationIdentifierListType">
    <xs:annotation>
      <xs:documentation>
        An unbounded collection container for structuring institution-level external identifiers.
        Used to map the Reference Material Producer unambiguously to persistent global authority registries
        (e.g., ROR, LEI, or national corporate registers) to prevent organizational naming ambiguity.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="organizationIdentifier" type="drmd:identifierType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="materialIdentifierListType">
    <xs:annotation>
      <xs:documentation>
        An unbounded collection container for physical tracking codes. Houses material-specific and production-specific
        keys (such as catalog numbers, matrix IDs, and batch/lot codes) to maintain an unalterable bridge between the
        digital document certificate and the labeling on physical packaging.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="materialIdentifier" type="drmd:identifierType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="propertyIdentifierListType">
    <xs:annotation>
      <xs:documentation>
        An unbounded collection container mapping specific measurands, chemical analytes, or structural properties
        to standardized nomenclatures. Ensures automated database parsing and machine configuration can reconcile
        analytical results via globally recognized terms (such as CAS numbers or IUPAC symbols) instead of non-unique localized labels.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="propertyIdentifier" type="drmd:identifierType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documentIdentifierListType">
    <xs:annotation>
      <xs:documentation>
        A master collection container bundling external document-level registration indexes. Links the overall
        DRMD instance to enterprise systems, global databases, or publishing trackers through persistent records
        including DOIs, internal warehouse tracking keys, or ERP system asset numbers.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentIdentifier" type="drmd:identifierType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="refTypesType">
    <xs:annotation>
      <xs:documentation>
        Controlled vocabulary enumerations that classify internal XML cross-referencing relationships.
        Restricts the scope of relation attributes to ensure uniform machine interpretation of linked element semantics.
        - basic_certificateIdentification: Maps an operational identity token specifically to a document metadata anchor.
        - basic_measuredValue: Validates and assigns measurement payload segments explicitly as structured quantity records.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="basic_certificateIdentification"/>
      <xs:enumeration value="basic_measuredValue"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="quantityType">
    <xs:annotation>
      <xs:documentation>
        An enhanced metrological quantity container that extends the foundational dcc:primitiveQuantityType framework.
        Enables numeric measurement property fields, uncertainties, and D-SI units to directly encapsulate
        DRMD-specific property identifiers, providing strict machine-readability for multi-analyte dataset matrices.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dcc:primitiveQuantityType">
        <xs:sequence>
          <xs:element name="propertyIdentifiers" type="drmd:propertyIdentifierListType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Associates structural mapping definitions (such as CAS registry codes) cleanly within the physical
                value block, resolving composition tables unambiguously for automated laboratory pipelines.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:annotation>
    <xs:documentation>
      DRMD - Digital Reference Material Document
      Copyright (c) 2024 Bundesanstalt für Materialforschung und -prüfung (BAM)

      This XML Schema Definition (XSD) is free software: you can redistribute
      it and/or modify it under the terms of the GNU Lesser General Public License
      as published by the Free Software Foundation, version 3 of the License.
      This XSD is distributed in the hope that it will be useful, but WITHOUT ANY
      WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
      FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for
      more details. The development of the Digital Reference Material Document (DRMD)
      is partially funded and supported by the QI-Digital project.
    </xs:documentation>
    <xs:documentation>
      DUAL-PROFILE ARCHITECTURE
      This schema supports two document profiles governed by the titleOfTheDocument element:
        - referenceMaterialCertificate (CRM): Certified Reference Material documents per ISO 33401:2024.
        - productInformationSheet (RM): Reference Material documents per ISO 33401:2024.

      Both profiles share an identical XML structure. The minOccurs constraints in this XSD
      are set to the most permissive level (accommodating the productInformationSheet profile).
      Profile-specific mandatory requirements (e.g., metrological traceability for CRM,
      uncertainty assignment for certified values, material description for CRM,
      approving officer/responsible persons for CRM) are enforced by the companion Schematron
      validation file: drmd-business-rules.sch

      IMPORTANT: Full validation compliance requires running BOTH this XSD schema AND
      the companion Schematron rules. The XSD alone is insufficient for profile-specific
      enforcement per ISO 33401:2024, Table 1.
    </xs:documentation>
  </xs:annotation>

  <!-- Root element -->
  <xs:element name="digitalReferenceMaterialDocument" type="drmd:digitalReferenceMaterialDocumentType"/>

  <!-- Root type -->
  <xs:complexType name="digitalReferenceMaterialDocumentType">
    <xs:annotation>
      <xs:documentation>
        The structural root of the DRMD configuration. Supports both Reference Material Certificate (CRM) and
        Product Information Sheet (RM) document profiles. Systematically coordinates core metadata, physical product
        catalogs, measurement results, and cryptographic blocks into six interconnected electronic containers,
        maintaining data integrity for global laboratory data exchanges. The document profile is determined by
        the titleOfTheDocument element in coreData; profile-specific constraints are enforced via companion
        Schematron rules (drmd-business-rules.sch) per ISO 33401:2024, Table 1.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="administrativeData" type="drmd:administrativeDataType">
        <xs:annotation>
          <xs:documentation>
            A required container grouping non-technical document metadata, organizational producer profiles, and authorized
            signatory frameworks required to establish certificate authenticity.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="materials" type="drmd:materialListType">
        <xs:annotation>
          <xs:documentation>
            The authoritative inventory catalogue defining the physical reference materials, lot codes, and sample size constraints
            covered under the scope of this certificate.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="propertiesList" type="drmd:propertiesListType">
        <xs:annotation>
          <xs:documentation>
            The core metrological repository structuring certified and informational measurement data tables, uncertainties,
            D-SI units, and substance mapping keys.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="statements" type="drmd:statementListType">
        <xs:annotation>
          <xs:documentation>
            The ordered sequence of narrative compliance disclosures governing regulatory fitness for purpose, environmental storage controls,
            and operational pre-treatment directives.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="comment" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional document-level, simple text field reserved for non-normative operational logging, database notes, or system
            ingestion alerts. Lacks multilingual tag features.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="document" type="dcc:byteDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional root-level binary storage vault for embedding an exact Base64-encoded PDF rendition of the official certificate.
            Satisfies long-term archival needs under Profile C policies, allowing a single XML file to hold both machine-readable and
            human-viewable assets.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element ref="ds:Signature" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            An optional, repeatable XML Digital Signature (XMLDSig) block providing cryptographic proof of document integrity and origin.
            Enables independent validation that data has escaped post-issuance tampering.
            Note: Validation stubs permit flexible content schema modeling, meaning deep cryptographic checks must be enforced
            independently via runtime libraries.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="schemaVersion" type="drmd:schemaVersionType" use="required"/>
  </xs:complexType>

  <!-- administrativeData -->
  <xs:complexType name="administrativeDataType">
    <xs:annotation>
      <xs:documentation>
        Groups non-technical certificate metadata. Mandates the sequential execution of basic metadata blocks,
        producer responsibility logs, and responsible signatory authorities to maintain institutional compliance visibility.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="coreData" type="drmd:coreDataType"/>
      <xs:element name="referenceMaterialProducer" type="drmd:referenceMaterialProducerType"/>
      <xs:element name="respPersons" type="dcc:respPersonListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            A roster detailing accountable physical persons or institutional representatives managing document
            approvals, including the approving officer. Maps roles ('Quality Manager', 'Technical Reviewer'),
            technical departments, contact emails, and workflow signer status indicators.
            PROFILE NOTE (ISO 33401:2024, §5.3.5): This element is structurally optional in the XSD.
            For referenceMaterialCertificate documents, the name and function of the RM producer's
            approving officer is MANDATORY and its presence is enforced by the companion Schematron rules.
            For productInformationSheet documents, this element is optional.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="coreDataType">
    <xs:annotation>
      <xs:documentation>
        Primary administrative metadata column holding the identity credentials of the electronic document, specifying its type level,
        globally unique structural fingerprint, external cross-reference indexes, and legal lifespan bounds.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="titleOfTheDocument" type="drmd:titleOfDocumentType"/>

      <xs:element name="uniqueIdentifier" type="dcc:notEmptyStringType">
        <xs:annotation>
          <xs:documentation>
            A mandatory unique string token (preferring standard UUID formats) serving as the document's unalterable digital fingerprint.
            Prevents identifier collisions in distributed storage architectures; any post-issuance data modifications force the generation of a completely unique identifier tracking asset.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentVersion" type="dcc:notEmptyStringType">
        <xs:annotation>
          <xs:documentation>
            A mandatory version string identifying the revision of this document.
            Enables tracking of document updates and ensures recipients can verify
            they hold the current version (ISO 33401:2024, §5.2.13).
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentIdentifiers" type="drmd:documentIdentifierListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional linkage folder combining multiple external system identities (such as persistent publishing DOIs or business ERP numbers) to ensure automated tracking across global databases.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="validity" type="drmd:ValidityType" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValidityType">
    <xs:annotation>
      <xs:documentation>
        A mandatory choice configuration establishing the legal and physical lifespan of the certificate.
        Enforces strict quality control to mitigate safety risks or measurement failures stemming from aged, degraded materials.
        Instruments match this data block against real-time evaluation dates to automatically lock out expired materials.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="untilRevoked" type="xs:boolean" fixed="true">
        <xs:annotation>
          <xs:documentation>
            Indicates permanent validity for inherently stable materials that do not exhibit time-based degradation.
            The dataset remains continuously active until an explicit update or revocation notice is issued by the producer.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="timeAfterDispatch">
        <xs:annotation>
          <xs:documentation>
            Defines relative validity for substances whose operational shelf-life is triggered upon shipment.
            Laboratory information management systems parse this period to calculate a specific expiration cutoff
            for individual units.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dispatchDate" type="xs:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  The optional calendar date of physical shipment. Under strict governance frameworks, this may be bound
                  to the cryptographic timestamp of the document signing event that constitutes formal legal issuance.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="period" type="xs:duration" minOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  A mandatory ISO 8601 duration format string (e.g., 'P3Y2M') stating the exact lifespan span
                  allotted for material use once dispatched.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="specificTime" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            Imposes a fixed expiration cutoff date utilizing the standard YYYY-MM-DD configuration. Represents a hard stop
            threshold for safety and compliance, past which the material must not be used for calibration or quality control.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="materialClassType">
    <xs:annotation>
      <xs:documentation>
        A repeatable classification element used to tie the reference material to an industry standard,
        matrix classification taxonomy, or public chemical cataloging architecture.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reference" type="dcc:notEmptyStringType">
        <xs:annotation>
          <xs:documentation>
            Names the specific classification standard, matrix taxonomy, or schema being used (e.g., 'ISO 12103-1', 'UNS').
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="classID" type="dcc:notEmptyStringType">
        <xs:annotation>
          <xs:documentation>
            The exact categorical code or text identifier mapping the substance to the chosen scheme (e.g., 'A2 Fine Test Dust').
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="link" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional resolvable web URL leading to the official standard repository or catalog classification definition.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    <xs:attribute name="refType" type="drmd:refTypesType" use="optional"/>
  </xs:complexType>

  <xs:complexType name="identificationListType">
    <xs:annotation>
      <xs:documentation>
        A collection container detailing secondary serial indexes, inventory numbers, or customer-specific reference labels.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identification" type="drmd:identificationType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="identificationType">
    <xs:annotation>
      <xs:documentation>
        Structures an auxiliary identification tag, defining its administrative issuer context and tracking string value.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="issuer">
        <xs:annotation>
          <xs:documentation>
            Specifies the stakeholder responsible for assigning the identification value, restricted to controlled role classifications.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="referenceMaterialProducer"/>
            <xs:enumeration value="customer"/>
            <xs:enumeration value="owner"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="value" type="dcc:notEmptyStringType">
        <xs:annotation>
          <xs:documentation>
            The tracking alphanumeric string value assigned by the designated issuer.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="name" type="dcc:textType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional multilingual descriptive text label qualifying the specific nature of the hardware identifier.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="refType" type="drmd:refTypesType" use="optional"/>
  </xs:complexType>

  <xs:complexType name="referenceMaterialProducerType">
    <xs:annotation>
      <xs:documentation>
        Authoritative block describing the organization legally and operationally accountable for the reference material and documentation.
        Maps human-friendly multilingual names, structured contact points, cryptographic policy declarations, and stable ROR indexes.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="dcc:textType">
        <xs:annotation>
          <xs:documentation>
            The official, long-form multilingual name of the producer organization. For international interoperability,
            producers provide multiple ISO-639-1 language variants (e.g., 'en', 'de') to support localized rendering.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="contact" type="dcc:contactType">
        <xs:annotation>
          <xs:documentation>
            Structured operational coordinates including technical sales emails, phone links, physical addresses,
            and recommended WGS84 geographic coordinate vectors for automated header processing and laboratory audit mapping.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="cryptElectronicSeal" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional workflow capability hint declaring whether the organization applies automated, institution-level
            cryptographic seals to protect document provenance.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="cryptElectronicSignature" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional workflow capability hint declaring whether person-based digital signatures are formally expected
            within the certificate's trust structure.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="cryptElectronicTimeStamp" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional workflow capability hint declaring whether independent cryptographic time-stamping services are embedded to preserve long-term historical signing validity.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="organizationIdentifiers" type="drmd:organizationIdentifierListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Roster of persistent global identifiers (e.g., ROR links) used to establish unique machine resolution
            of the producer across distributed data systems.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- materialListType -->
  <xs:complexType name="materialListType">
    <xs:annotation>
      <xs:documentation>
        The authoritative catalogue index detailing the physical reference materials covered under the scope of this DRMD certificate.
        Must contain at least one material entry, expanding to support multi-component analytical kits or variant product lists.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="material" type="drmd:materialType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- materialType -->
  <xs:complexType name="materialType">
    <xs:annotation>
      <xs:documentation>
        Encapsulates complete material metadata. Mandates structural definitions including human-readable names,
        minimum sample mass constraints, catalog index identities, and optional repeatable matrix classification schemas.
        Assigns a distinct internal ID to eliminate property linkage ambiguity in multi-material configurations.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="dcc:textType">
        <xs:annotation>
          <xs:documentation>
            The primary human-readable designation of the reference material. Should remain short and closely aligned with the
            physical packaging typography, utilizing multilingual language tags where appropriate.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="description" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Structured rich text detailing composition notes, appearance parameters, dimensions, and matrix information.
            Supports embedded technical drawing attachments or geometry graphics.
            PROFILE NOTE (ISO 33401:2024, §5.3.2): This element is structurally optional in the XSD.
            For referenceMaterialCertificate documents, the description of the material is MANDATORY
            and its presence is enforced by the companion Schematron rules.
            For productInformationSheet documents, this element is recommended but not required.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="materialClass" type="drmd:materialClassType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            An optional, repeatable structural taxonomy assignment grouping the material matrix into formal technical
            standards or regulatory families.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="minimumSampleSize" type="dcc:itemQuantityListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            A metrological constraint defining the absolute minimum mass, volume, or area threshold required
            to maintain certified value homogeneity. Downstream instrument software monitors this metric to generate UI compliance
            warnings if test portions drop below the specified threshold.
            PROFILE NOTE (ISO 33401:2024, §5.2.7): This element is 'mandatory whenever applicable' for both
            document profiles. It is structurally optional in the XSD to accommodate materials where a
            minimum sample size is not applicable. Its presence is enforced by the companion Schematron
            rule DRMD-008 (conditional-error).
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="itemQuantities" type="dcc:itemQuantityListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Optional quantitative physical descriptors outlining packaging bounds, including nominal item mass metrics,
            total unit counts, or volumetric dimensional tolerances.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="materialIdentifiers" type="drmd:materialIdentifierListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The primary keys used for matching and deduplicating reference material database logs. Pairs product
            catalog numbers and unique batch codes to achieve precise data matching across laboratory infrastructure.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statementListType">
    <xs:annotation>
      <xs:documentation>
        A structurally ordered container managing narrative declarations and non-numerical compliance disclosures.
        Enforces a strict deterministic element sequence to comply with ISO 33401:2024 reporting guidelines.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="intendedUse" type="dcc:richContentType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A mandatory metrological disclosure defining the explicitly approved application scope and target analytical techniques
            (e.g., spark-OES calibration). Documents explicit exclusions to prevent dangerous misapplications or analytical failures.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="commutability" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional disclosure outlining how closely the reference material behaves like an actual routine sample matrix
            across divergent measurement methods; highly critical for biological and clinical testing profiles.
            PROFILE NOTE (ISO 33401:2024, §5.2.9): This element is 'mandatory whenever applicable' for both
            document profiles. It is structurally optional in the XSD to accommodate materials where
            commutability is not applicable. Its presence is enforced by the companion Schematron
            rule DRMD-013 (conditional-error).
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="storageInformation" type="dcc:richContentType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Mandatory operational environmental thresholds (temperature limitations, shielding, gas controls)
            required to guarantee physical material stability and prevent structural value degradation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="instructionsForHandlingAndUse" type="dcc:richContentType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Mandatory preparation instructions detailing cleaning cycles, physical polishing constraints, and drying workflows
            required of operators before executing analytical calibrations.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="metrologicalTraceability" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            A narrative statement formalizing the chain of comparisons linking certified results back to the SI base units
            or international calibration benchmarks, satisfying strict laboratory accreditation audit trails.
            PROFILE NOTE (ISO 33401:2024, §5.3.4): This element is structurally optional in the XSD to accommodate
            productInformationSheet documents where metrological traceability is not required. For
            referenceMaterialCertificate documents, this element is MANDATORY and its presence is enforced
            by the companion Schematron rules (rule RMC-001).
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="healthAndSafetyInformation" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional safety disclosure documenting hazardous material traits and protective equipment directives.
            Supports embedded Base64 Safety Data Sheets (SDS) files.
            PROFILE NOTE (ISO 33401:2024, §5.4.3): This element is 'recommended' for both document profiles.
            Its presence is encouraged by the companion Schematron rule DRMD-015 (warning).
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="subcontractors" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional transparency record mapping operational contributions or analytical measurement allocations assigned to
            subcontracted partner laboratories under interlaboratory studies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="legalNotice" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Optional legal disclaimers, jurisdiction parameters, and producer liability limitations restricting technical value use conditions.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="referenceToCertificationReport" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional cross-reference connecting the summary certificate instance to comprehensive characterization
            and stability assessment documentation via stable URLs or embedded PDF summary excerpts
            (ISO 33401:2024, §5.4.7 — Optional for both document profiles).
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="statement" type="dcc:richContentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A repeatable, generic catch-all narrative element designed to capture auxiliary regulatory disclosures or localized
            operational notes that lack a dedicated element field.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="propertiesListType">
    <xs:annotation>
      <xs:documentation>
        A top-level container structuring analytical characterization result blocks. Orchestrates datasets into logical segments
        to enable parsing software to isolate certified data tables from informational records.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="properties" type="drmd:propertiesType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resultListType">
    <xs:annotation>
      <xs:documentation>
        Groups data quantities under standardized thematic classifications, structuring records into distinct analytical tables.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="result" type="drmd:resultType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resultType">
    <xs:annotation>
      <xs:documentation>
        A specialized analytical container structuring measurement results. Overrides standard type inheritance rules
        to force internal payload branches to map exclusively to the DRMD quantity format, ensuring stable assignment
        of property mapping schemas.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="dcc:textType"/>
      <xs:element name="description" type="dcc:richContentType" minOccurs="0"/>
      <xs:element name="data" type="drmd:dataType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    <xs:attribute name="refType" type="drmd:refTypesType" use="optional"/>
  </xs:complexType>

  <xs:complexType name="dataType">
    <xs:annotation>
      <xs:documentation>
        An operational choice node regulating structural measurement representations. Directs data ingestion logic
        to parse the numeric payload either as a unified multi-analyte compositional list matrix or a solitary property metric row.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="list" type="drmd:listType"/>
      <xs:element name="quantity" type="drmd:quantityType"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="listType">
    <xs:annotation>
      <xs:documentation>
        A sequential sequence indexing repeating quantity rows. Serves as the structural framework for compositional tables
        where every unique analyte row encapsulates individual D-SI unit records, uncertainty fields, and identity codes.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantity" type="drmd:quantityType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="propertiesType">
    <xs:annotation>
      <xs:documentation>
        A core analytical chapter block grouping characterization data. Encapsulates underlying instrumentation procedures,
        environmental parameters, and measurement tables. Controls metrological confidence extraction through an explicit
        @isCertified boolean attribute to ensure uncompromised data validation.
        PROFILE NOTE (ISO 33401:2024, §5.3.3):
        - referenceMaterialCertificate: MUST contain at least one properties block with @isCertified="true".
          Certified property values MUST include measurement uncertainty and metrological traceability
          (Schematron rules RMC-002, RMC-003).
        - productInformationSheet: MUST NOT set @isCertified="true" on any properties block.
          Uncertainty values are optional (Schematron rule PIS-001).
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="name" type="dcc:textType">
        <xs:annotation>
          <xs:documentation>
            The descriptive title of the characterization section (e.g., 'Certified Compositional Values', 'Informational Metrics').
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="description" type="dcc:richContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Global contextual definitions applying broadly across all nested measurements, such as global statements defining
            uncertainty coverage parameters (e.g., 'U matches expanded uncertainty, k=2').
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="procedures" type="dcc:usedMethodListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Roster detailing laboratory methods, hardware systems, instrument integration times, and standard citations
            (e.g., ISO 11885) to establish absolute procedural replication visibility.
            NOTE: This element covers both applied measurement procedures (methods used to establish
            the property values) and intended measurement procedures (methods for which the material
            is suited). Producers are encouraged to clearly distinguish between these in the method
            descriptions. ISO 33401:2024, §5.2.14 makes procedures for operationally defined measurands
            'mandatory whenever applicable'; §5.4.2 makes procedures for non-operationally defined
            measurands 'recommended' for both document profiles. Taken together, the overall requirement
            is 'mandatory whenever applicable'. The companion Schematron rule DRMD-014 (conditional-error)
            enforces the presence of procedures; RMC-005 (warning) provides an additional advisory
            for certified property blocks.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="results" type="drmd:resultListType">
        <xs:annotation>
          <xs:documentation>
            The mandatory collection of structured, machine-readable measurement value tables and array matrices.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="measurementMetaData" type="dcc:measurementMetaDataListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Optional metadata arrays formalizing institutional confidence declarations, validity periods, and legal authorities
            ruling the measurement space.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    <xs:attribute name="refType" type="drmd:refTypesType" use="optional"/>

    <xs:attribute name="isCertified" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          A critical processing flag governing metrological automated ingestion policies.
          Must evaluate as 'true' to qualify content as fully certified data.
          When evaluated as 'false' or omitted, signaling processing systems that values are informational only.
          PROFILE NOTE (ISO 33401:2024, §5.3.3):
          - referenceMaterialCertificate: At least one properties block MUST have isCertified="true",
            and all certified property values MUST include expanded measurement uncertainty
            and metrological traceability.
          - productInformationSheet: isCertified MUST NOT be set to "true" on any properties block.
            This prevents informational RM documents from being misrepresented as certified data.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>